@import "../shared/helper";

@function px($n) {
  @return $n / 2420 * 100rem;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;

  >header {
    height: px(99);
    background-size: cover;
  }

  >main {
    flex: 1;
  }
}