@import "../shared/helper";

@function px($n) {
  @return $n / 2420 * 100rem;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;

  >header {
    height: px(99);
    background-size: cover;
  }

  >main {
    flex: 1;
    display: grid;
    grid-row-gap: px(28);
    grid-column-gap: px(28);
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;

    >section {
      border: 1px solid #08519f;
      border-radius: 4px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 4px;
        box-shadow:
          17px 0 0 -16px #0f356f,
          -17px 0 0 -16px #0f356f,
          0 17px 0 -16px #0f356f,
          0 -17px 0 -16px #0f356f,
          11px 0 0 -10px #0e2955,
          -11px 0 0 -10px #0e2955,
          0 11px 0 -10px #0e2955,
          0 -11px 0 -10px #0e2955, ;
      }
    }

    >.section1 {
      grid-area: box1;
    }

    >.section2 {
      grid-area: box2;
    }

    >.section3 {
      grid-area: box3;
    }

    >.section4 {
      grid-area: box4;
    }

    >.section5 {
      grid-area: box5;
    }
  }
}